@import url('https://fonts.googleapis.com/css?family=Kumbh+Sans:light,regular,bold,800,italic&subset=latin,latin-ext');

:root {
  --southwest-dark: #111b40;
  --southwest-dark-blue: #1A2C80;
  --southwest-blue: #304CB2;
  --southwest-grey: #CCCCCC;
  --southwest-red: #E51D23;
  --southwest-yellow: #FFBF27;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

